
/* Study materials */
.mbody {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background: #0056b3;
    color: white;
    padding: 15px;
    text-align: center;
}
.search-bar {
    width: 80%;
    max-width: 500px;
    padding: 10px;
    margin: 15px auto;
    margin-right: 1.5rem;
    display: block;
    border-radius: 5px;
    border: 2px solid#9fc8f6;
    background-color: rgb(234, 235, 235);
}
main {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
.materials {
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.category {
    background: rgb(210, 212, 220);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
    min-width: 250px;
    border: 2px solid #0077cc;
    filter: grayscale(50%);
    transition: 0.5s ease;
    cursor: pointer;
}
.category:hover {
    transform: scale(1.025);
    filter: grayscale(0%);
}
.category h2 {
    color: #0056b3;
}
.category ul {
    list-style: none;
    padding: 0;
    display: none;
}
.category li {
    margin: 10px 20px;
    list-style: square;
    color: #6d6d6d;
}
.category li:hover {
    color: #373636;
    transition: 0.5s;
}
.category a {
    text-decoration: none;
    color: #6d6d6d;   
}
.category a:hover {
    color: #373636;
    transition: 0.5s;
}

i{
    display: flex;
    align-items: left;
    gap: 36px;
    font-size: 2rem;   
}

.recommended {
    flex: 1;
    background: rgb(210, 212, 220);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
    min-width: 250px;
    border: 2px solid #0077cc;
    filter: grayscale(50%);
    transition: 0.5s ease;
    cursor: pointer;
}
.recommended:hover {
    transform: scale(1.025);
    filter: grayscale(0%);
}
.recommended h2 {
    color: #0056b3;
}
.recommended ul {
    list-style: none;
    padding: 0;
    display: none;
}
.recommended li {
    margin: 10px 20px;
    list-style: square;
    color: #6d6d6d;
}
.recommended li:hover {
    color: #373636;
    transition: 0.5s;
}
.recommended a {
    text-decoration: none;
    color: #6d6d6d;
}
.recommended a:hover {
    color: #373636;
    transition: 0.5s;
}

/* Counseling */
.container {
    background:rgb(210, 212, 220);
    width: 70rem;
    margin: 60px auto auto;
    border: solid 1px;
    border-color: #9dadef;
    border-radius: 20px;
    padding: 40px 0;
    display:flex;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    justify-content: center;
}
.leftside {
    margin: 120px auto auto 40px;
    width: 320px;
    padding: 15px;
    position: sticky;
    top: 150px;
    height: 300px;
}
.rightside {
    margin: auto 80px auto auto;
    padding: 20px 0 20px;
}
.topic {
    color: #474646;    
}
.content {
    color: #6d6d6d;
}
input, select, textarea{
    width: 28rem;
    padding: 12px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: solid 0.5px;
    border-radius: 15px;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 100;
    color: #4a4a4a;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
textarea {
    resize: vertical;
}
button[type=submit] {
    margin-top: 10px;
    padding: 10px  4%;
    border-radius: 15px;
    border: solid #0077cc 0.5px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: 100;
    color: #ffffff;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    background-color: #0077cc;
}

.responseMessage {
    margin-top: -20px;
    margin-bottom: 15px;
}

/* Contact Us */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1100px;
    padding: 10px;   
}
.grid-item {
    width: 100%;
    aspect-ratio: 1 / 0.5; /* Makes it a square */
    overflow: hidden;
    background: rgb(210, 212, 220);
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgc1 {
    width: 400px;
    height: 250px;
    border-radius: 10px;
    filter: grayscale(50%);
    transition: 0.6s ease;
    cursor: pointer;
}
.imgc1:hover {
    transform: scale(1.3);
    filter: grayscale(0%);
}
.Cheader {
    text-align: left;
    margin-left: 20px;
    color: white;
}
.icons1 {
    display: flex;
    align-items: left;
    gap: 36px;
    font-size: 2rem;   
}
.icons1 i {
    color: #6d6d6d;
    transition: 0.5s;
}
.icons1 i:hover {
    color: #373636;
    transition: 0.5s;
}
.location-map{
    width: 400px;
    height: 500px;
    margin-top: 25rem;
    text-align: left;
    margin-left: 20px;
    filter: grayscale(50%);
    transition: 0.6s ease;
    cursor: pointer;
}
.location-map:hover {
    transform: scale(1.3);
    filter: grayscale(0%);
}